/* 
  ETML
  Auteur              : Ethan Schafstall
  Date                : 15.01.2024
  Description         : Site Unesco pour I426 
*/

body {
}
nav{
}
main{
}
footer{
}
li {
  display: inline;
  list-style-type: none;
}
#map{
  width: 60%;
  height: 60vh;
}


/* CSS for unesco sites table */



.heading {
  display: flex;
  justify-content: center;
}/* FFEC5C */
h1 {
  font-weight: bold;
  background: transparent;
  padding: 10px;
}

.outer-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  max-width: fit-content;
  max-height: fit-content;

  
}
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;
  margin-top: 22px;
  margin: 15px;
  padding-bottom: 20px;
}


table {
  
  min-width: max-content;
  
  border-collapse: separate;
  border-spacing: 0px;    
  
}

.table-filter {
  border-radius: 5px;
}

table th{
  position: sticky; 
  top: 0px;
  
  background-color: white;/*couleur background tableau*/
  color: black;/*couleur titre tableau*/
  
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  outline: 0.7px solid black;
  border: 1.5px solid black;

} 



table th, table td {
  
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

table td {
  text-align: left;
  
  font-size: 15px;
  border: 1px solid black;/*couleur grille*/
  padding-left: 20px;
  
}