/* 
  ETML
  Auteur              : Ethan Schafstall
  Date                : 15.01.2024
  Description         : Site Unesco pour I426 
*/

body {
}
nav{
}
main{
}
footer{
}
li {
  display: inline;
  list-style-type: none;
}
#map{
  width: 50%;
  height: 50vh;
}